@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
#color-picker {
    display: none;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 20px;
}