button {
    height: 5vw;
    width: 5vw;
    outline: none;
    margin: 1.5vw;
    border: none;
    border-radius: 2px;
}

button.current {
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 0 4px black;
}


/*https://developer.chrome.com/docs/extensions/mv3/getstarted/*/