@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
* {
    margin: 0;
    background-color: rgb(30, 30, 30);
}

*::selection {
    user-select: none;
}

.box {
    width: 600px;
    height: 500px;
    border: solid 3px aliceblue;
}

.intro {
    width: 180px;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 20px;
    color: aliceblue;
}

.option {
    margin: 10px;
    width: 190px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 20px;
    color: aliceblue;
    border: solid 1px aliceblue;
    flex-wrap: wrap;
}

.option:hover {
    background-color: aliceblue;
    color: rgb(30, 30, 30);
    cursor: pointer;
}

.option:active {
    background-color: aliceblue;
    color: rgb(30, 30, 30);
    cursor: pointer;
    top: 1px;
    position: relative;
}

#start,
#stop {
    width: 20px;
    height: 20px;
    font-size: 0;
    background-color: red;
    border: 0;
    border-radius: 35px;
    margin: 5px;
    margin-right: 15px;
    outline: none;
}

#start:hover,
#stop:hover {
    cursor: pointer;
}

.notRec {
    background-color: darkred;
}

.Rec {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 5px 0px rgba(173, 0, 0, .3);
    }
    65% {
        box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, .3);
    }
    90% {
        box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, 0);
    }
}

#colors {
    width: 30px;
    height: 30px;
    background-color: aqua;
}