@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
#background-image {
    color: aliceblue;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 20px;
    display: none;
}